@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1c1c1c;
  }
}

.special {
  font-size: 15px;
}

.logobody {
  width: 10vh;
  height: 10vh;
  overflow: hidden;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  margin-top: 7rem;

}

.item{
  width: 8%;
  overflow: visible;
  stroke: black;
  stroke-width: 2;
  /* stroke-linejoin: round;
  stroke-linecap: round; */
  transform: rotate(180deg);
}

.sticky{
  flex-grow: 1;
  flex-basis: 300px;
  position: sticky;
  top: 2rem;
  /* center the text */
  display: flex;
  align-items: center;
  justify-content: center;
}